/* asterisco selector universal*/
/**{
    background-color: brown;  
    }*/
/*FOOTER 6-27*/
body {
font-family: Arial, Helvetica, sans-serif ; /*tipo letra*/

}
    footer{  
    background: #dd4f24;  /*fondo*/
    padding: 20px 0px 20px 0px; /*tamaño color, arriba, derecha, abajo, izquierda*/
    text-align: center;
    }

footer p {
    color: white;
    display: grid; /*arriba y abajo, grid*/
}
/*pseudoselectores: identificar cosas*/
footer p span:before { /*insertan contenido, mediante CSS, delante ( before ).*/
    content: " - " ;
}

footer p span:after {  /*insertan contenido detrás ( after ) del contenido de un elemento html*/
    content: " - " ;
}

/*HEADER 29*/
header {
    background: #444 ;
    color: white; /*pone todo el resto en blanco "hasta lo de la lista*/

}

header .logo img, header .avatar img{ /*tamaño imagenes*/
    width: 80px;
}

header .encabezado h2 {
    color: white; /*color letras */
    font-size: 20px ;
}
/*
header .encabezado .estilo {
    color: #22bce0;
}*/

header .encabezado .logobienvenida p { /*solo dos*/
    color: #22bce0;
}

header .encabezado .logobienvenida .tamaño {
    color: #dd4f24;
}

/*listas*/
header nav {
    background: #22bce0;
}

header nav ul {
    list-style: none; /*quitar estilo de la lista "puntos*/
    display: flex; /*poner una al lado del otro*/
    padding: 8px 0px 8px 0px;
    margin: 0px;
}
header nav ul li{
    margin-left: 230px; /*para espacio entre cada elemento de la lista*/
}
header nav ul li a {
    color: white;
    text-decoration: none; /*quitar subrayado"*/
}

/*1:01:30*/

header nav ul li a:hover{
    background: rgba(0,0,0,0.1); /*para que en la lista se vea sombra*/
    padding: 8px 2px 8px 2px;

}

/*organizar ubicación cosas*/
header .encabezado .logobienvenida, header .encabezado .publicar, header .encabezado .publicar .avatar{
    display: flex; /*para que queden todos de lado*/
}

header .encabezado{  /*padre*/
    overflow: hidden;
}

header .encabezado .logobienvenida{ 
    float: left;
}

header .encabezado .publicar{
    float: right;
}

header .encabezado .logobienvenida h2, header .encabezado .logobienvenida p {
    margin: 0px 0px 5px 0px;
    padding: 0;
}

header .encabezado .logobienvenida div {
    margin: 5px 0px 5px 20px;
}

/*barrita azul*/
header .encabezado .logobienvenida .logo {
    border-right: 1px solid #22bce0; /*grosor,solido,color*/
    padding: 15px;
}